@media screen and (max-width:500px){
.alert-info {
 display: flex;
 border: 1px solid aqua;
 background-color:aqua;
 box-sizing: border-box;
 height: 5vh;
 width: 90vw;
align-items: center;
 justify-content: center;
}
h1{
 margin: 0 auto;
}

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
    }

    .alert-info a {
        text-decoration: none;
        color: black
    }

    .nav-links {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    ul li {
        border: 1px solid lightgrey;
        box-sizing: border-box;
        background: lightgrey;
        width: 90vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5em 0;
    }

    .header-img {
.nav-links {list-style:none;
 padding-left: 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
}

ul > li{
 box-sizing: border-box;
 border:  1px solid lightgray;
 background-color: lightgray;
 height: 5vh;
 width: 90vw;

}